<div ng-controller="ContactCtrl" class="row" style="margin-top: 15px;">
    <div class="col-lg-12">
        <p>If you have questions or issues, feel free to contact us via email.
        </p>
    </div>
    <div class="col-lg-6">
        <h3 class="title">About the tool
        </h3>

        <p>
            Gloria Cai:
            <a href="mailto:yi-gloria.cai@schneider-electric.com">yi-gloria.cai@schneider-electric.com</a><br />
            Georgia Huang: <a
                href="mailto:mengting.huang@schneider-electric.com">mengting.huang@schneider-electric.com</a
>

        </p>
    </div>
    <div class="col-lg-6">
        <h3 class="title">About applications

        </h3>

        <p>
            Asia Pacific: <br/>
            East Europe:<br/>
            West Europe:<br/>
            Americas:


        </p>
    </div>

</div>