<div ng-controller="HomeCtrl" class="row" style="margin-top: 15px;">
    <div class="col-lg-5">
        <ui-select ng-model="industry.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
            <ui-select-match placeholder="Choose the marketing pipe / industry">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="industry in industryOptions | filter: $select.search">
                <span ng-bind-html="industry.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <table class="table" ng-show="memo.length">
            <caption>{{industry.selected.name}}</caption>
            <thead>
            <tr>
                <th>
                    Offer
                </th>
                <th>
                    Application
                </th>
                <th>
                    More..
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in memo">
                <td ng-bind="m.offer_range"></td>
                <td ng-bind="m.application"></td>
                <td>
                    <detail></detail>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-5">
        <ui-select ng-model="offer.selected" theme="selectize" ng-disabled="disabled" style="width: 300px;">
            <ui-select-match placeholder="Choose the offer">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="offer in offerOptions | filter: $select.search">
                <span ng-bind-html="offer.name | highlight: $select.search"></span>
            </ui-select-choices>
        </ui-select>
        <table class="table" ng-show="memo2.length">
            <caption>{{offer.selected.name}}</caption>
            <thead>
            <tr>
                <th>
                    Industry
                </th>
                <th>
                    Application
                </th>
                <th>
                    More..
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in memo2">
                <td ng-bind="m.industry"></td>
                <td ng-bind="m.application"></td>
                <td>
                    <detail></detail>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        <button ng-click="export()" type="button" class="btn btn-default" style="background: #E6F6C9;color: #7CCE0E;">
            Click to Export the Index
        </button>
    </div>
</div>