<div ng-controller="NewCtrl" style="margin-top: 15px;">
  <div class="row">
    <div class="col-lg-6">

      <form name="f1" class="form-horizontal" style="margin-top: 15px;">
        <div class="form-group">
          <label class="col-md-3 control-label">*Industry</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.industry" name="industry" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">*Offer</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.offer_range" name="offer_range" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">*Application</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.application" name="application" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">*Country</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.country" name="country" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">*Customer</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.customer" name="customer" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">*Competition</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.competition" name="competition" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">*Contact</label>

          <div class="col-md-5">
            <input type="text" class="form-control" ng-model="form.contact" name="contact" required>
          </div>
        </div>
      </form>
    </div>

    <div class="col-lg-6">
      <form name="f2" class="form-horizontal" style="margin-top: 15px;">

        <div class="form-group">
          <label class="col-md-3 control-label">*Key success 1</label>

          <div class="col-md-5">
            <textarea class="form-control" rows="3" ng-model="form.key_success_1" name="key_success_1"
                      required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Key success 2</label>

          <div class="col-md-5">
            <textarea class="form-control" rows="3" ng-model="form.key_success_2"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Key success 3</label>

          <div class="col-md-5">
            <textarea class="form-control" rows="3" ng-model="form.key_success_3"></textarea>
          </div>
        </div>


      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">

      <form name="f3" class="form-horizontal" style="margin-top: 15px;">

        <div class="form-group">
          <label class="col-md-3 control-label">*Attachments</label>

          <div class="col-md-5">
            <input required type="file" id="input" name="file" style="display:none"
                   onchange="StrLJ.value=(file.value).substr(12);">
            <input type="text" name="StrLJ" style="width: 130px;" value="" readonly>
            <input type="button" onclick="file.click();" value="Browse...">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-5">
            <div style="margin: 0px 0 20px 0" ng-if="uploading"><img src="images/loader.gif" alt=""/>Uploading...</div>
            <button ng-click="save()" type="submit" class="btn btn-default"
                    style="background: #E6F6C9;color: #7CCE0E;">Submit
            </button>
            <button type="button" class="btn btn-default">Cancel</button>

          </div>
        </div>

      </form>
    </div>

    <div class="col-lg-6">

    </div>
  </div>


</div>
