<div ng-controller="SupportCtrl" class="row" style="margin-top: 15px;">
    <div class="col-lg-12">
        <h3 class="title">Application Memo Creation Instruction</a>
        </h3>
        <p>(Please download the workflow in the attachment for the detailed instruction)
        </p>
        <ul>
            <li>Responsibilities of Country Product Manager
            </li>
            <li>Responsibilities of BDM
            </li>
            <li>Responsibilities of BU Product Manager
            </li>
        </ul>
        <h3 class="title">Application Memo Template</a>
        </h3>
        <p>(Please download the template in the attachment section)
        </p>
        <h3 class="title">File Naming Rules
        </h3>
        <p>
            <img src="images/namingrules.png" alt="" width="500" style="position: relative; z-index: -3;"/>
        </p>
        <h3 class="title" style="font-size: 14px;">Click to download the instructive files below:
        </h3>
        <p>
            <a href="downloads/H2IApplicationmemoCreationWorkflow.pdf"><img src="images/2.jpg" width="35" alt="" /></a>
            <a href="downloads/Template-AMFamily_IndustryOfferCustomer2013-XV1.ppt"><img src="images/3.jpg" width="35" alt="" style="margin-left: 25px;"/></a>
        </p>
    </div>

</div>