<p>
  Events
<ul>
  <li>pause: <br/> The event fires when an application is put into the background.</li>
  <li>resume: <br/> The event fires when an application is retrieved from the background.</li>
  <li>backbutton: <br/> The event fires when the user presses the back button.</li>
  <li>menubutton: <br/> The event fires when the user presses the menu button.</li>
  <li>searchbutton: <br/> The event fires when the user presses the search button on Android.</li>
  <li>volumedownbutton: <br/> The event fires when the user presses the volume down button.</li>
  <li>volumeupbutton: <br/> The event fires when the user presses the volume up button.</li>
</ul>
</p>
